body {
    background-color: #f79422;
}

ul {}

.text,
.card-deck {
    display: flex;
    justify-content: center
}

h5 {
    color: #f79422;
}

#img {
    display: flex;
    justify-content: center
}