body {
    background-color: #f79422;
}

ul {}


.text,
.card-deck {
    display: flex;
    justify-content: center;
}

h5 {
    color: #f79422;
}

#img {
    display: flex;
    justify-content: center
}



@media (max-width: 650px) {


    .card-deck,
    .text {
        flex-direction: column;
        justify-content: center;

    }

    .card-deck {
        justify-content: center;
    }
}