body {
    background-image: url(img\handledare_b.jpg);
    background-size: cover;
    background-attachment: fixed;
}

ul {}

.text,
.card-deck {
    display: flex;
    justify-content: center
}

h5 {
    color: #f79422;
}